{% extends "base.html" %}
{% block content %}
<script>
    function httpGet(theUrl) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", theUrl, false); // false for synchronous request
        xmlHttp.send(null);
        return xmlHttp.responseText;
    }
    var alltables = {{ alltables| tojson }}
    $(document).ready(function () {
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
        });
        for (i = 0; i < alltables.length; i++) {
            var tableid = '#'.concat(alltables[i]["table_name"]);
            var table_ajax_url = "/ajax/table/".concat(alltables[i]["table_name"]);
            var tablecolumns = alltables[i]["column_names"];
            tablecolumns.forEach(function (part, index) {
                this[index] = { "data": this[index], "defaultContent": "" };
            }, tablecolumns);
            var data = {{alltables[i]["table"]|tojson}};
            $(tableid).DataTable({
                "ajax": data,
                "dom": '<"Buttons"B>lrtip',
                "responsive": true,
                "colReorder": true,
                "buttons": ['copy', 'excel', 'pdf'],
                "deferRender": true

            });

        }


    });
</script>
<div>
    <ul class="nav nav-tabs" role="tablist">
        {% for single_table in alltables %}
        <li>
            <a href="#tab-{{single_table.table_name}}" data-toggle="tab">{{ single_table.table_name}}</a>
        </li>
        {% endfor %}
    </ul>
    <div class="tab-content">
        {% for single_table in alltables %}
        {% if single_table.table_name == alltables[0].table_name %}
        <div class="tab-pane active" id="tab-{{ single_table.table_name }}">
            {% elif single_table.table_name != alltables[0].table_name %}
            <div class="tab-pane" id="tab-{{ single_table.table_name }}">

                {% endif %}
                <table id="{{ single_table.table_name }}" class="table table-striped table-bordered" cellspacing="0"
                    width="100%">
                    <thead>
                        <tr>
                            {% for column in single_table.column_names %}
                            <th>{{ column}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                </table>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}