{% extends "base.html" %}
{% import 'table.html' as tables%}
{% block content %}
<div>
    <ul class="nav nav-tabs" role="tablist">
        {% for single_table in alltables %}
        <li>
            <a href="#tab-{{single_table.table_name}}" data-toggle="tab">{{ single_table.table_name}}</a>
        </li>
        {% endfor %}
    </ul>
    <div class="tab-content">
        {% for single_table in alltables %}
        {% if single_table.table_name == alltables[0].table_name %}
        <div class="tab-pane active" id="tab-{{ single_table.table_name }}">
            {% elif single_table.table_name != alltables[0].table_name %}
            <div class="tab-pane" id="tab-{{ single_table.table_name }}">
                {% endif %}
                {{ tables.table_with_buttons(id=single_table.table_name, column_names=single_table.column_names , table=single_table.table ) }}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}