{% extends "base.html" %}
{% block content %}
<h1 style="color:blue;">
    Select data
</h1>
<form action="{{url_for('page_filter')}}">
    <div class="form-group row">
        <label for="BatchNumber" class="col-sm-2 col-form-label h4">Batch Number</label>
        <div class="col-sm-10">
            <select id="BatchNumber" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="Date" class="col-sm-2 col-form-label h4">Date</label>
        <div class="col-sm-5">
            <label for="fromdate">From</label>
            <input type="date" id="fromdate" class="form-control" data-date-format="mm/dd/yyyy">
        </div>
        <div class="col-sm-5">
            <label for="todate">To</label>
            <input type="date" id="todate" class="form-control" data-date-format="mm/dd/yyyy">
        </div>
    </div>

    <div class="form-group row">
        <label for="Date" class="col-sm-2 col-form-label h4">Time</label>
        <div class="col-sm-5">
            <label for="fromdate">From</label>
            <input type="time" id="fromtime" class="form-control" data-date-format="mm/dd/yyyy">
        </div>
        <div class="col-sm-5">
            <label for="todate">To</label>
            <input type="time" id="totime" class="form-control" data-date-format="mm/dd/yyyy">
        </div>
    </div>


    <div class="form-group row">
        <label for="RecipeName" class="col-sm-2 col-form-label h4">Recipe Name</label>
        <div class="col-sm-10">
            <select id="RecipeName" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="CameraStation" class="col-sm-2 col-form-label h4">Camera Station</label>
        <div class="col-sm-10">
            <select id="CameraStation" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="sampleNumber" class="col-sm-2 col-form-label h4">Sample number</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="sampleNumber">
        </div>
    </div>


    <div style="float: right">
        <input class="btn btn-secondary mb-2" value="Load template">
        <input class="btn btn-secondary mb-2" value="Save as template">
        <input class="btn btn-secondary mb-2" value="Reset">
        <input type="submit" class="btn btn-primary mb-2" value="Select data">
    </div>







</form>
{% endblock %}