{% extends "base.html" %}
{% block content %}
<script>
    $(document).ready(function () {
        $('a').each(function () {
            this.href += window.location.search;
        })
    });
    function get_csv_folder() {
        
        $.get("{{url_for('export_interface.export_folder_csv')}}", function (data) {
            
            document.getElementById("export_folder").innerHTML = data["export_folder"];
        }
        )
    };

</script>
<h1 style="color:blue;">
    Process data
</h1>
<table class="table table-borderless">
    <thead>
        <th scope="col">Action</th>
        <th scope="col">Target</th>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Export to Folder</th>
            <td>
                <button class="btn btn-primary" onclick="get_csv_folder()">CSV</button>
                <a class="btn btn-primary" href="{{url_for('export_interface.export_folder_pictures')}}">Pictures</a>
                <a class="btn btn-primary" href="{{url_for('export_interface.export_folder_excel')}}">Excel</a>
                <input id="export_folder">
            </td>
        </tr>
        <tr>
            <th scope="row">Download</th>
            <td>
                <a class="btn btn-primary" href="{{url_for('export_interface.download_csv')}}">CSV</a>
                <a class="btn btn-primary" href="{{url_for('export_interface.download_pictures')}}">Pictures</a>
                <a class="btn btn-primary" href="{{url_for('export_interface.download_excel')}}">Excel</a>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}