{% extends "base.html" %}
{% block content %}
<script>
    $('a').each(function(){
     this.href += window.location.search;
})
</script>
<h1 style="color:blue;">
    Process data
</h1>
<table class="table table-borderless">
    <thead>
        <th scope="col">Action</th>
        <th scope="col">Target</th>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Export to Folder</th>
            <td>
                <a type="a" class="btn btn-primary" role="a" href="#">CSV</a>
                <a type="a" class="btn btn-primary" role="a" href="#">Pictures</a>
                <a type="a" class="btn btn-primary" role="a" href="#">Excel</a>
            </td>
        </tr>
        <tr>
            <th scope="row">Download</th>
            <td>
                <a type="a" class="btn btn-primary" role="a" href="#">CSV</a>
                <a type="a" class="btn btn-primary" role="a" href="#">Pictures</a>
                <a type="a" class="btn btn-primary" role="a" href="#">Excel</a>
            </td>
        </tr>
        <tr>
            <th scope="row">Export</th>
            <td>
                <a type="a" class="btn btn-primary" role="a" href="#">CSV</a>
                <a type="a" class="btn btn-primary" role="a" href="#">Pictures</a>
                <a type="a" class="btn btn-primary" role="a" href="#">Excel</a>
            </td>
        </tr>


    </tbody>
</table>
Export pictures to folder
                Export pictures as download
                Export data as CSV File
                Export data as Excel
                Dalete data

{% endblock %}